.chat-window {
    flex: 1;
    overflow-y: auto;

    padding: 40px 70px;

    display: flex;
    flex-direction: column;

    background: #262626;

    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

.chat-window::-webkit-scrollbar {
    width: 8px;
}

.chat-window::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 999px;
}

.chat-window::-webkit-scrollbar-track {
    background: transparent;
}