.chat-window {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  background: transparent;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.12) transparent;
  padding: 16px 14px 10px;
}

.chat-window.empty {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.chat-messages-container {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}